html, body {
             height:100%;
           }
           
#wrapper {
    min-height:100% !important;
    position:relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:auto;
    overflow-y:auto;
    height: 100%;
}

#page-wrapper {
    min-height: 100%;
}
